body {
    background-image: url('https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1729&q=80');
    color: white;
    font-size: 1.2rem; 
    font-family: 'Bebas Neue';
    text-align: center;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#title {
    font-size: 3rem;
    text-align: center;
    color: white;
    margin: 60px 0 0 0;
    text-decoration: underline;
}

.cell {
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0; 
    border: 1px solid white;
}


.cell:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transform: scale(1.1);
    transition: .3s;
}

.chat {
    background-color: hsla(0, 0%, 100%, 0.2);
    border: 1px solid grey;
    box-shadow: 0 0 10px black;
    padding: 10px;
}

.icon {
    max-width: 60%;
    height: auto;
}

@media (max-width: 768px) {
    .cell {
        font-size: 1rem;
        padding: 5px 0;
    }

    .icon {
        max-width: 50%;
    }
}
